body
{
	
	
    background-repeat: no-repeat, repeat;
	padding 0px;
    margin-left 0px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container-fluid
{
	font-family:Arial;
}
